.cadastro-form {
    width: 100%;
    height: 49em;
    padding-top: 10em;
}

.logo-aws {

    height: 4.233em;
    padding-left: 5em;
}

.card-comida {
    width: 21em;
    height: 22em;
}

.img-comida{
    height: 15em;
}

.parallax-container {
    height: 54em;
}

.img-paralax{
    height: 15em;
}